body {
  background-color: darkseagreen;
}

.countryNameStyle {
  padding-top: 10px;
  font-size: 19px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cName {
  color: white;
  /* border: solid grey 1px; */
  padding-top: 8px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.capital {
  color: white;
  /* border: solid grey 1px; */
  padding-top: 8px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.region {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  /* border: solid grey 1px; */
  font-size: 15px;
  padding-top: 14px;
}
.countryStyle {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  overflow-y: scroll;
  height: 100vh;
}
/* .input {
  width: 10vw;
} */
.word {
  color: black;
  border: solid grey 1px;
  border-radius: 2px;
}

.maps {
  /* border: solid grey 1px; */
  padding-top: 10px;
}

.map {
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ug {
  padding-top: 7px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}

.words {
  display: flex;
}
